{% extends "layout.html" %}
{% block homeContent %}
  <h3>Available products:</h3>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/242216217_2671212376516437_2808501322171127848_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ywZPUiA7ybkAX_sNU7n&_nc_ht=scontent-ord5-2.xx&oh=00_AfCO116IhzmQdr2A1Syi4e8TQ4Au8ttBry5ksBrCKQD2nw&oe=6553E826" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/242216217_2671212376516437_2808501322171127848_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ywZPUiA7ybkAX_sNU7n&_nc_ht=scontent-ord5-2.xx&oh=00_AfCO116IhzmQdr2A1Syi4e8TQ4Au8ttBry5ksBrCKQD2nw&oe=6553E826" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/242216217_2671212376516437_2808501322171127848_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ywZPUiA7ybkAX_sNU7n&_nc_ht=scontent-ord5-2.xx&oh=00_AfCO116IhzmQdr2A1Syi4e8TQ4Au8ttBry5ksBrCKQD2nw&oe=6553E826" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/242216217_2671212376516437_2808501322171127848_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ywZPUiA7ybkAX_sNU7n&_nc_ht=scontent-ord5-2.xx&oh=00_AfCO116IhzmQdr2A1Syi4e8TQ4Au8ttBry5ksBrCKQD2nw&oe=6553E826" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/242216217_2671212376516437_2808501322171127848_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ywZPUiA7ybkAX_sNU7n&_nc_ht=scontent-ord5-2.xx&oh=00_AfCO116IhzmQdr2A1Syi4e8TQ4Au8ttBry5ksBrCKQD2nw&oe=6553E826" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="https://scontent-ord5-2.xx.fbcdn.net/v/t39.30808-6/242216217_2671212376516437_2808501322171127848_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ywZPUiA7ybkAX_sNU7n&_nc_ht=scontent-ord5-2.xx&oh=00_AfCO116IhzmQdr2A1Syi4e8TQ4Au8ttBry5ksBrCKQD2nw&oe=6553E826" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
  </div>
{% endblock %}